In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path("..").resolve()
sys.path.append(str(PROJECT_ROOT))

In [2]:
from src.books import add_book, list_books
from src.sessions import log_reading, get_book_progress
import pandas as pd

In [3]:
add_book("The Hobbit", 
    "J.R.R. Tolkien", 
    pages=287, 
    genre="Fantasy", 
    status="read"
)

1

In [4]:
log_reading(
    book_id=1,
    pages_read=20,
    minutes_read=30
)

In [6]:
books = list_books()
pd.DataFrame(
    books,
    columns = ["id", "title", "author", "pages", "genre",
    "status", "started_date", "finished_date",
    "rating", "notes"
    ]
)

,id,title,author,pages,genre,status,started_date,finished_date,rating,notes
0,1,The Hobbit,J.R.R. Tolkien,287,Fantasy,read,None,None,None,None
1,2,The Hobbit,J.R.R. Tolkien,287,Fantasy,read,None,None,None,None

In [ ]:
import sqlite3
from src.db import get_connection

conn = get_connection()
c = conn.cursor()

c.execute("""DELETE FROM books
    WHERE id NOT IN (
    SELECT MIN(id)
    FROM books
    GROUP BY title, author
    )
""")

conn.commit()
conn.close()